header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 10;
  .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .hamburger {
      all: unset;
      width: 40px;
      height: 40px;
      position: relative;
      text-indent: 50px;
      font: 16px/1 $Kanit;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #857359;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 30%;
        left: 0;
        width: 40%;
        height: 3px;
        background-color: #fff;
        animation: hamburger 0.5s linear infinite alternate-reverse;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 30%;
        left: 0;
        width: 50%;
        height: 3px;
        background-color: #fff;
        animation: hamburger 0.5s 0.5s linear infinite alternate-reverse;
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        width: 100%;
        font-family: $logo;
        color: #fff;
      }
    }

    .join {
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #fff;
      border-radius: 30px;
      font: 14px/1 $Kanit;
      color: #fff;

      &:hover {
        background-color: #857359;
      }
    }
  }
  &.sub {
    .inner {
      .hamburger {
        color: #222;
        cursor: pointer;
        &:hover {
          color: #4b4741;
        }
        &::after,
        &::before {
          background-color: #222;
        }
      }

      h1 {
        a {
          color: #222;
        }
      }

      .join {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #222;
        border-radius: 30px;
        font: 14px/1 $Kanit;
        color: #222;

        &:hover {
          background-color: #8d734d;
          color: #fff;
          border: 1px solid transparent;
        }
      }
    }
  }
}

@keyframes underLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes hamburger {
  0% {
    opacity: 0.2;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: $tablet) {
}
@media screen and (max-width: $mobile) {
  header {
    .inner {
      padding: 0 10px;
    }
  }
}
