.sub_visual {
  width: 100%;
  height: 400px;
  background-color: #ebe6d7;
  position: relative;
  overflow: hidden;

  .wrap {
    width: 100%;
    height: 100%;
    position: relative;
    span {
      font: bold 300px/1 $logo;
      color: transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      position: absolute;
      bottom: 0px;
      // left: 7%;
      left: -50%;
      animation: move 0.5s;
      animation-fill-mode: forwards;
    }
    .txt {
      position: absolute;
      bottom: 10px;
      left: -50%;
      animation: move2 0.5s 0.5s;
      animation-fill-mode: forwards;
      // left: 10%;

      h2 {
        color: #222;
        font: bold 5vmax/1 $logo;
        text-align: center;
        &:hover ~ .cursor {
          transform: scale(8);
        }
      }
      p {
        color: #333;
        font: bold 2vmax/1 $Raleway;
        text-align: center;
        &:hover ~ .cursor {
          transform: scale(8);
        }
      }
      .cursor {
        width: 20px;
        height: 20px;
        background: #fff;
        position: fixed;
        border-radius: 50px;
        z-index: 4;
        transform: translate(-50%, -50%);
        pointer-events: none;
        mix-blend-mode: difference;
        transition: transform 0.3s;
      }
    }
    > p {
      position: absolute;
      bottom: 10px;
      right: 10%;
      color: #333;
      font: bold 20px/1 $Raleway;
      text-align: center;
    }
  }
}

.content_section {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
  position: relative;
  padding-bottom: 100px;

  &.on {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes move {
  100% {
    left: 6%;
  }
}
@keyframes move2 {
  100% {
    left: 10%;
  }
}

@media screen and (max-width: $mobile) {
  .sub_visual {
    height: 300px;

    .wrap {
      span {
        font: bold 200px/1 $logo;
      }
      .txt {
      }
      > p {
        display: none;
      }
    }
  }
}
