.sub_visual {
  width: 100%;
  height: 400px;
  background-color: #b6ac8a;
  position: relative;
  overflow: hidden;
  .wrap {
    width: 100%;
    height: 100%;
    position: relative;
    span {
      font: bold 300px/1 $logo;
      color: transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      position: absolute;
      bottom: 0px;
      // left: 7%;
      left: -50%;
      animation: move 0.5s;
      animation-fill-mode: forwards;
    }
    .txt {
      position: absolute;
      bottom: 10px;
      left: -50%;
      animation: move2 0.5s 0.5s;
      animation-fill-mode: forwards;
      // left: 10%;

      h2 {
        color: #fff;
        font: bold 7vmax/1 $logo;
        text-align: center;
      }
      p {
        color: #fff;
        font: bold 2vmax/1 $openSans;
        text-align: center;
      }
    }
  }
}

.content {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
  position: relative;

  &.on {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes move {
  100% {
    left: 7%;
  }
}
@keyframes move2 {
  100% {
    left: 10%;
  }
}
