* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.h {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

// @font-face {
//   font-family: "NenuWorld";

//   src: url("../../font/PPNeueWorld-CondensedRegular.otf") format("opentype");
// }
// @font-face {
//   font-family: "NenuWorld";

//   src: url("../../font/PPNeueWorld-ExtendedThin.otf") format("opentype");
// }
@font-face {
  font-family: "NenuWorld";

  src: url("../../font/PPNeueWorld-SuperCondensedLight.ttf") format("truetype");
}
@font-face {
  font-family: "BasicCommercial";
  src: url("../../font/BasicCommercialLT-Light.eot") format("embedded-opentype"),
    url("../../font/BasicCommercialLT-Light.ttf") format("truetype"),
    url("../../font/BasicCommercialLT-Light.woff") format("woff");
}
