.scrollBtns {
  position: fixed;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 10;
  li {
    width: 10px;
    height: 10px;
    background-color: #dfc390;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    position: relative;

    &.on {
      background-color: #9c752d;
      &::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid #dfc390;
        border-radius: 50%;
        margin-top: -8.5px;
        margin-left: -8.5px;
        transition: 0.5s;
        animation: scrollBtn 0.5s linear infinite;
      }
    }
  }
}

@keyframes scrollBtn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
