.section1 {
  width: 100%;
  height: 150vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > .text {
    width: 35%;
    text-align: center;
    position: relative;
    z-index: 2;
    h2 {
      font: 6vw/1 $NenuWorld;
      text-align: center;
      color: #1f1f1f;
    }
    p {
      font: 300 18px/1.6 $Basic;
      color: #555;
      margin-top: 10px;
    }
    a {
      all: unset;
      display: inline-block;
      margin-top: 20px;
      font: 14px/1 $Kanit;
      padding: 10px 25px;
      border: 1px solid #b69d7d;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: #fff;
        background-color: #534634;
      }
    }
  }

  > div {
    position: absolute;
    z-index: 0;
    &.pic1 {
      width: 25vmax;
      height: 20vmax;
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
    }
    &.pic2 {
      width: 20vmax;
      height: 20vmax;
      top: 20%;
      left: 5%;
    }
    &.pic3 {
      width: 15vmax;
      height: 25vh;
      top: 25%;
      right: 10%;
    }
    &.pic4 {
      width: 30vmax;
      height: 25vmax;
      bottom: 15%;
      left: 1%;
    }
    &.pic5 {
      width: 15vmax;
      height: 20vmax;
      bottom: 30%;
      right: 0%;
    }
    &.pic6 {
      width: 20vmax;
      height: 20vmax;
      bottom: 0%;
      right: 20%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
