.visual2 {
  width: 100%;
  height: 120vh;
  .bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > video {
      width: 400px;
      height: 600px;
      object-fit: cover;
    }
  }
}
