.Gallery_sub {
  background-color: #ebe6d7;
}

.Gallery {
  background-color: #ebe6d7;
  border-top: 1px solid #d1c7a3;
  min-height: 500px;
  > .loading {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translateX(-50%);
  }
  .wrapper {
    > span {
      display: block;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #d1c7a3;
      margin-left: 25%;
      padding: 15px;
      padding-left: 30px;
      font: 400 18px/1 $Kanit;
      color: #333;
    }
    .wrap {
      width: 100%;
      height: auto;
      display: flex;
      position: relative;

      .filter_box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        border-right: 1px solid #d1c7a3;
        border-top: 1px solid #d1c7a3;
        margin-top: -1px;
        h2 {
          border-bottom: 1px solid #d1c7a3;
          position: sticky;
          top: 0;
          font: 18px/1 $Kanit;
          color: #333;
          padding: 10px;
          padding-left: 80px;
        }
        ul {
          border-bottom: 1px solid #d1c7a3;
          position: sticky;
          top: 39px;
          li {
            padding: 10px;
            padding-left: 80px;
            cursor: pointer;
            font: 300 14px/1 $Kanit;
            color: #555;
          }
        }
      }
      > ul {
        width: 100%;
        flex: 3;
        position: relative;
        transform: translateY(200px);
        opacity: 0;
        transition: 1s;
        &.on {
          transform: translateY(0);
          opacity: 1;
        }

        &::after {
          content: "";
          display: block;
          clear: both;
        }
        > li {
          width: 50%;
          float: left;
          cursor: pointer;
          padding: 10px;
          border: 1px solid #d1c7a3;
          border-top: none;
          border-left: none;

          > .inner {
            width: 100%;
            height: 100%;
            > .pic {
              width: 100%;
              height: 100%;
              overflow: hidden;

              > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s;
                &:hover {
                  transform: scale(1.1);
                  filter: brightness(50%);
                }
              }
            }
            .txt {
              display: flex;
              justify-content: space-between;
              h3 {
                font: 18px/1 $Kanit;
                color: #333;
                padding: 5px;
              }
              span {
                display: inline-block;
                font: 16px/1 $Kanit;
                color: rgb(31, 48, 0);
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}
