.Join_sub {
  background-color: #ebe6d7;
}

.Join {
  background-color: #ebe6d7;
  width: 100%;

  border-top: 1px solid #d1c7a3;

  .terms {
    padding-top: 50px;
    border-bottom: 1px solid #d1c7a3;
    .inner {
      width: 1180px;
      margin: 0 auto;
      > h2 {
        font: 4vmax/1 $NenuWorld;
      }
      ul {
        margin-top: 100px;
        li {
          display: flex;
          border-top: 1px solid #d1c7a3;
          padding-top: 20px;
          padding-bottom: 30px;
          span {
            font: 18px/1 $Kanit;
            color: #222;
          }
          h2 {
            width: 50%;
            font: 4vmax/1 $NenuWorld;
            margin-left: 70px;
          }
          p {
            width: 50%;
            font: 16px/1.6 $Kanit;
            color: #333;
          }
        }
      }
    }
  }
  .sign {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    .pic {
      flex: 1;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font: 4vw/1 $NenuWorld;
          color: #fff;
          text-align: center;
        }
        button {
          all: unset;
          border: 1px solid #bbb;
          padding: 15px 10px;
          font: 14px/1 $Kanit;
          color: #bbb;
          width: 300px;
          margin-top: 50px;
        }
      }
    }
    > form {
      flex: 1;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      fieldset {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;

        align-items: center;
        table {
          width: 100%;
          height: 100%;
          border-collapse: collapse;
          tbody {
            tr {
              width: 100%;
              padding: 10px;
              border-bottom: 1px solid #d1c7a3;
              th {
                width: 30%;
                font: 30px/1 $NenuWorld;
                letter-spacing: 3px;
                &.btnBox {
                  padding: 10px;
                  .reset,
                  .send {
                    border: none;
                    background-color: #ebe1c6;
                    position: relative;
                    cursor: pointer;
                    margin-left: 20px;
                    font: 16px/1 $Kanit;
                    padding: 5px;
                    &:hover {
                      background-color: #ebdaae;
                    }
                  }
                }
              }
              td {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 10px;
                margin-top: 10px;

                label {
                  font: 14px/1 $Kanit;
                }
                input {
                  width: 50%;
                  padding: 10px;
                  font: 14px/1 $Kanit;
                  background-color: transparent;
                  border: none;
                }
                .errTxt {
                  margin-top: 10px;
                  font: 12px/1 $Kanit;
                  color: rgb(133, 1, 1);
                }
                #edu {
                  height: 30px;
                  background-color: transparent;
                }
                > textarea {
                  resize: none;
                  padding: 10px;
                  background-color: transparent;
                }
                > div {
                  display: flex;
                  margin-top: 10px;
                  input {
                    width: auto;
                    text-align: left;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .Join {
    .terms {
      .inner {
        width: 100%;
        padding: 0 30px;

        ul {
          margin-top: 50px;
        }
      }
    }
    .sign {
      margin-top: 50px;
      flex-direction: column;

      > form {
        fieldset {
          table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            tbody {
              tr {
                td {
                  input {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .Join {
    .terms {
      .inner {
        width: 100%;
        padding: 0 30px;

        ul {
          margin-top: 50px;
          li {
            flex-wrap: wrap;
            h2 {
              margin-left: 20px;
            }
            p {
              margin-top: 10px;
              width: 100%;
            }
          }
        }
      }
    }
    .sign {
      margin-top: 50px;
      flex-direction: column;
      .pic {
        width: 100%;
        min-height: 250px;
        img {
          min-height: 250px;
        }
        .text {
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          h2 {
            font-size: 32px;
          }
          > button {
            width: 80%;
            text-align: left;
          }
        }
      }

      > form {
        width: 100%;
        fieldset {
          table {
            tbody {
              width: 100%;
              tr {
                display: flex;
                flex-direction: column;

                th {
                  width: 100%;
                  text-align: left;
                  &.btnBox {
                    text-align: center;
                  }
                }

                td {
                  padding: 0;
                  input {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
