@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");
$openSans: "Open Sans", sans-serif;
$Raleway: "Raleway", sans-serif;
$tablet: 1179px;
$mobile: 539px;

@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/hamburger";
@import "common/layout";

@import "main/visual";
@import "main/content";

@import "sub/about";
@import "sub/youtube";
